spring:
  datasource:
    url: jdbc:mysql://mysql:3306/lms
    username: root
    password: Nayan@2002

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    org.springframework: WARN
    org.flywaydb: INFO
