spring:
  datasource:
    url: jdbc:mysql://trolley.proxy.rlwy.net:57592/railway?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true