spring:
  datasource:
    url: mysql://root:OXSOzBWqELWtyapwocjUxuAfCFiZjfGN@trolley.proxy.rlwy.net:57592/railway
    username: root
    password: OXSOzBWqELWtyapwocjUxuAfCFiZjfGN

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true