name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    # Run tests with test profile
    - name: Build with Maven
      run: mvn -B clean test -Dspring.profiles.active=test

    # Login to GitHub container registry
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Build Docker image (lowercase!)
    - name: Build Docker image
      run: docker build -t ghcr.io/nayan76/lms-api:latest .

    # Push Docker image
    - name: Push Docker image
      run: docker push ghcr.io/nayan76/lms-api:latest

